# R files
.Rhistory
.RData
.Ruserdata

# RStudio project metadata
.Rproj.user

# System files
.DS_Store

# Shiny cache junk
inst/shiny/mmrClustVar_app/.DS_Store
inst/shiny/.DS_Store
inst/.DS_Store

# Personal test script
perso_test.r

# Optional: ignore Rproj files if you want
# *.Rproj